* {
  box-sizing: border-box;
}

body {
  color: #6c6c6f;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  /* max-width: 1140px; */
}

a {
  text-decoration: none;
}

.body__container {
  position: relative;
  width: 100%;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1024px;
  /* width: auto; */
  margin: 0 auto;
}

.inner {
  display: flex;
  padding-top: 30px;
}

.section {
  position: relative;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 425px;
  line-height: 1.5;
}

.text-box span {
  color: #ff817e;
}

.text-box h2 {
  font-family: "Rufina", serif;
  font-size: 65px;
  font-weight: 700;
  color: #212529;
  line-height: 70px;
  margin: 35px 0;
}

.text-box p {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* HEADER */

.header__menu {
  display: flex;
  align-items: flex-end;
  padding-left: 160px;
}

.header__menu ul {
  display: flex;
}

.header__menu li {
  margin: 0 20px;
}

.header__menu li a {
  color: #263a41;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

/* banner */

.section--banner {
  background: url(./images/leaf.png) no-repeat left center/12.5%;
  padding: 5% 0;
  margin-bottom: 50px;
}

.section--banner img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.section--banner .text-box {
  width: 700px;
  /* width: auto; */
}

.text-box .btn-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.text-box .btn {
  background-color: #ff817e;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.text-box .btn:hover {
  color: #212529;
}

.text-box button {
  background: #ff817e;
  width: 170px;
  height: 45px;
  color: #ffffff;
  font-size: 20px;
}

.video-btn {
  padding-left: 25px;
}

.video-btn a {
  text-decoration: none;
}

.circle-btn {
  display: inline-block;
  text-align: center;
  background: #fcf5ee;
  color: #ff817e;
  width: 40px;
  height: 40px;
  line-height: 33px;
  border-radius: 50%;
}

.text-btn {
  color: #555;
}

.text-btn:hover {
  color: #ff817e;
  transition: 0.5;
}

.close {
  display: block;
  font-size: 50px;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 40px;
}

.modal {
  display: none;
  background: rgb(0, 0, 0, 0.9);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
}

.video-container {
  max-width: 650px;
  margin: 0 auto;
  padding-top: 100px;
}

.video-ratio {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ABOUT */

.section--about {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.section--about .text-box {
  max-width: 920px;
  margin: 0 auto;
}

#china-rose {
  position: absolute;
  top: 0;
  left: 0;
}

#jasmine {
  position: absolute;
  top: 140px;
  right: 0;
}

.section--about .text-box img {
  width: 84px;
  height: 70px;
  margin: 0 auto;
}

.section--about h2 {
  font-size: 42px;
  margin: 17px 0;
}

.section--about span {
  padding-top: 20px;
}

.section--about .btn {
  width: 170px;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 55px;
}

/* SERVICE */

.section--service {
  margin: 60px 0px;
}

.service-image {
}

.section--service ul {
}

.service-image li {
  max-width: 25%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 0 5px;
}

.service-image li:nth-child(1) {
  padding-left: 5px;
}

.service-image li img {
  max-width: 100%;
}

.hover-container {
  background-color: rgba(255, 129, 126, 0.9);
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 2px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-container:hover {
  opacity: 0.9;
}

.hover-container img {
  width: 47px;
}

.hover-container span {
  margin-top: 20px;
  color: white;
}

/* Procedures */
.section--procedures {
  /* width: 1148px; */
  margin: 0 auto;
  margin-bottom: 90px;
}

.section--procedures .text-box {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  height: auto;
  margin-bottom: 45px;
}

.section--procedures .text-box h2 {
  font-size: 45px;
}

.section--procedures .post-box {
  max-width: 1148px;
  margin: 0 auto;
}

.section--procedures .post-box li {
  max-width: 40%;
  float: left;
  text-align: center;
  padding: 20px;
  border: 1px solid #e3e6ea;
  margin: 0 10px;
}

.section--procedures .post-box li:hover {
  box-shadow: 5px 10px 18px #888888;
  transition: 0.4s;
}

.section--procedures .post-box .text-box {
  height: auto;
}

.section--procedures .post-box .text-box h2 {
  font-size: 22px;
  margin: 10px auto;
}

.section--procedures .post-box p {
  width: 308px;
  margin: 0 auto;
}

.section--procedures .btn {
  width: 170px;
  margin: 0 auto;
  color: white;
}

/* Testimonial */

.section--testimonial {
  background: #fff9f8;
  padding: 36px 0;
}

.section--testimonial .slide-wrapper {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.section--testimonial .slideshow-container {
  position: relative;
  width: 1800px;
  margin: 0 auto;
  display: flex;
  animation: 10s slider ease infinite;
}

.section--testimonial .slides {
  width: 900px;
  /* margin: 20px auto; */
  text-align: center;
}

@keyframes slider {
  0% {
    left: 0px;
  }
  30% {
    left: 0px;
  }
  50% {
    left: -900px;
  }
  70% {
    left: -900px;
  }
  100% {
    left: -900px;
  }
}

.slides img {
  margin-bottom: 13px;
}

.slides p {
  font-family: "Rufina", serif;
  font-size: 18px;
  line-height: 35px;
  margin: 20px 0;
}

.client-info img {
  border-radius: 50%;
}

.client-info p {
  font-size: 22px;
  font-weight: 700;
}

.client-info span {
  font-size: 18px;
  font-weight: 500;
}

/* Appointment */

.section--appointment {
  margin: 50px 0;
  display: flex;
  background: #fff9f8;
}

.section--appointment .appointment-img-container img {
}

.appointment-form-container {
  padding: 40px;
  width: 100%;
}

.appointment-form-container form {
  max-width: 800px;
}

.input-wrapper {
  margin: 20px;
}

.input-decoration {
  border: none;
  background: none;
  border-bottom: 1px solid #d4d3d3;
  padding: 15px 0;
  width: 49%;
  color: gray;
}

.submit-btn-container {
  text-align: center;
}

.submit-btn {
  margin: 20px;
  border: none;
  background: #ff817e;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
}

.submit-btn:hover {
  color: #212529;
}

/* footer */
.footer {
  background: #fff9f8;
}

.footer--container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
}

.footer-nav {
  margin: 40px 0;
}

.footer-nav li {
  margin: 0 20px;
}

.footer-nav li a {
  color: #263a41;
  font-size: 14px;
  font-weight: 500;
  font-weight: 700;
}

/* Media Big */
@media screen and (min-width: 1440px) {
}

/* Media medium*/

@media screen and (max-width: 1024px) {
  .container {
    max-width: 700px;
  }

  /* Header */

  .header__menu {
    padding-left: 26px;
  }

  /* banner */

  .section--banner img {
  }

  .section--banner .text-box {
    max-width: 900px;
    margin: 0 auto;
  }

  /* Procedures */
  .section--procedures .post-box img {
    width: 100%;
  }

  .section--procedures .post-box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section--procedures .post-box li {
    max-width: 50%;
    margin: 30px 0;
  }

  .section--procedures .post-box ul li:nth-child(2) {
  }

  .section--procedures .post-box p {
    width: auto;
  }

  /* Testimonial */
  .section--testimonial {
    display: none;
  }

  /* appointment */
  .appointment-img-container img {
    display: none;
  }

  .appointment-form-container form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  header .inner {
    display: block;
  }

  header img {
    padding-left: 20px;
  }

  .header__menu .navicon {
    cursor: pointer;
    height: 60px;
    padding: 28px 15px;
    position: absolute;
    top: 40px;
    right: 27px;
  }

  .header__menu .navicon-bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #333;
    position: relative;
  }

  .header__menu .navicon-bar::before,
  .header__menu .navicon-bar::after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .header__menu .navicon-bar::before {
    top: -7px;
  }
  .header__menu .navicon-bar::after {
    top: 7px;
  }

  .header__menu ul {
    width: 100%;
    display: none;
  }

  .header__menu ul.open {
    display: block;
  }

  .header__menu ul li {
    text-align: right;
    padding: 20px 0;
    margin: 0 11px;
  }

  /* banner */
  .section--banner img {
    display: none;
  }

  /* About */
  #jasmine {
    position: absolute;
    top: 345px;
    right: 21px;
  }

  /* Procedures */
  .section--procedures .post-box .text-box h2 {
    font-size: 18px;
  }

  .section--procedures .post-box ul li:nth-child(2) {
    margin: 0px 18px;
  }
}
